<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaude.modules.demo.test.mapper.JeecgDemoMapper">

	<!-- 根據用戶名查詢 -->
	<select id="getDemoByName" resultType="com.yaude.modules.demo.test.entity.JeecgDemo">
		select * from  demo  where name = #{name}
	</select>
	
	<!-- 根據權限sql查詢數據集 -->
	<select id="queryListWithPermission" parameterType="Object" resultType="com.yaude.modules.demo.test.entity.JeecgDemo">
		select * from demo where 1=1 ${permissionSql}
	</select>

	<!-- 查詢所有符合前綴且有效字段 -->
	<select id="queryAllAuth" resultType="java.lang.String">
        select perms from sys_permission
        where perms
        like concat(concat('%',#{permsPrefix}),'%')
        and del_flag=0
        and status='1'
    </select>

	<!-- 查詢用戶已授權字段 -->
	<select id="queryUserAuth" resultType="java.lang.String">
        select perms from sys_user_role sur,
        sys_role_permission srp,
        sys_permission sp
        where sur.role_id = srp.role_id
        and sp.id = srp.permission_id
        and user_id = #{userId}
        and sp.perms like concat(concat('%',#{permsPrefix}),'%')
    </select>
</mapper>